
body {
    margin: 0 ;
    padding: 0;
}
h1 {

    font-family: 'Gulzar', serif;


    font-size: 40px;
    font-weight: 800;

   color: crimson;
   text-align: center;

   margin: 0;
   padding: 0;
    
}

h2{

    color: crimson;

    font-size: 40px;
}

p{  
    
    
    font-family: 'Arima', cursive;

    font-size: 20px;

font-weight: 800;

color: aliceblue;

text-align: center;


}
.firstsec {

    background-image: url(images/donation9.jpg);

    background-size: cover;

   height: 800px;
  
   margin-top: 0;


}
.button {
    margin-left: 47%;
width: 3%;
    padding: 10px 40px;

    text-align: center;


    background-image: linear-gradient(orange, red);
    border-radius: 25px;

    color: white;

    font-weight: 500;


}
.greyp {

    color: grey;
}
.box1 {

    width: 10%;

    height: 10%;

    margin-left: 2%;

    margin-right: 2%;
    box-shadow: 10px 10px 40px lightblue;

    padding: 3%;

    

  

   

}
.secondsec{

    display: flex;

    
}
h4 {

    text-align: center;

    font-size: 20px;

    

    color: grey;
}

.tkamount {
 
    margin: 40px 35%;

    border: none;

    border-bottom: 1px solid gray;

   width: 600px;

   text-align: center;

   padding-top: 20px;

   font-size: 20px;

   font-weight: 300;

  background-color: rgb(253, 253, 253);



}

   

.special {
background-color: rgb(214, 189, 189);

border: solid 3px rgb(187, 58, 80);

width: 10%;

    height: 10%;

    margin-left: 2%;

    margin-right: 2%;
    box-shadow: 10px 10px 40px lightblue;

    padding: 3%;


}

.box2 {

    width: 33%;

    height: 33%;

    margin-left: 2%;

    margin-right: 2%;
    box-shadow: 10px 10px 40px rgb(151, 158, 160);

    padding: 3%;

    
 
    
    
    
}

.thirdsec{

    display: flex;
}

.lefth1 {

    color: black;

    text-align: left;

    font-size: 30px;
}
.leftp {
color: black;

text-align: justify;


}
.color1 {

   background-color: rgb(214, 201, 168);
}
.color2 {

    background-color: aquamarine;
}

.color3{

    background-color: rgb(250, 141, 98);
}


footer {
    background-color: black;

    padding-top: 200px;

    margin-top: 30px;
}

.footerh1{

    font-size: 30px;
} 

.subbutton {
    text-align: center;


    background-image: linear-gradient(pink, orange);
    border-radius: 5px;

    padding: 17px;

    color: white;
   
   
}
.email-input{

    padding: 15px;

    

  text-align: left;

    font-size: 15px;

   background-color: gainsboro;

   font-weight: 800;

}

.emaildiv{

 

    margin-left: 35%

    
}

.lastsec {

    background-color: rgb(214, 176, 176);

    padding: 50px;

    margin-left: 30%;

    margin-right: 30%;
}

.ullist{

    color: darkorange;

    font-size: 30px;

    

   
}

.checkboxsec { margin-left: 18%;

    

    display: flex;
}
.checkboximg {


}

.uldiv {

    background-color: rgb(231, 209, 200);

    
}